:root {
    /* colours */
    --white: #FAFAFA;
    --cyan-300: #8FE3F9;
    --cyan-hover: #71C0D4;
    --cyan-600: #4D96A9;
    --cyan-overlay: #4d96a9cc;
    --purple-300: #d9b8ff;
    --purple-hover: #b28cde;
    --purple-600: #845eb0;
    --slate-300: #D1D1DF;
    --slate-600: #87879D;
    --slate-900: #28283D;
    /* spacing */
    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1400: 7rem;
}

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* fonts */
/* red-hat-display-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/red-hat-display-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* red-hat-display-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/red-hat-display-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--white);
    font-size: 1rem;
    color: var(--slate-600);
    line-height: 1.1;
    letter-spacing: 0;
    text-align: center;
}

.logo {
    margin: auto;
}

section {
    padding: var(--spacing-800) 0 var(--spacing-400);
}

header {
    padding-top: var(--spacing-600);
}

h1, h2, .subheading {
    font-weight: 900;
}

h1 {
    font-size: 2.5rem;
    color: var(--slate-900);
}

h2 {
    font-size: 2rem;;
    color: var(--slate-900);
}

.section-heading{
    margin-bottom: var(--spacing-300);
}

footer h2 {
    color: var(--white);
}

.subheading {
    text-transform: uppercase;
    color: var(--cyan-600);
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    margin-bottom: var(--spacing-200);
}

button {
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.813rem;
    border: 0px;
    color: var(--white);
    padding: var(--spacing-200) var(--spacing-500);
}

button:hover {
    cursor: pointer;
}

.button-primary {
    background-color: var(--cyan-600);
}

.button-primary:hover {
    background-color: var(--cyan-hover);
}

.button-primary .download-version {
    color: var(--cyan-300);
}

.button-secondary {
    background-color: var(--purple-600);
}

.button-secondary:hover {
    background-color: var(--purple-hover);
}

.button-secondary .download-version {
    color: var(--purple-300);
}

.hero-content {
    display: grid;
    gap: var(--spacing-300);
    margin-top: 3rem;
    padding: 0 var(--spacing-400);
}

.hero-main-image {
    margin: auto;
}

.hero-sub-image {
    display: none;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-200);
    margin: auto;
    justify-content: center;
}

.section-number {
    position: relative;
    margin: auto;
    align-content: center;
    font-weight: 900;
    font-size: 1rem;
    color: var(--slate-600);
    border-radius: 100%;
    border: 1px solid var(--slate-300);
    width: 2.5rem;
    height: 2.5rem;
}

.section-number::before {
    content: "";
    position: absolute;
    background-color: var(--slate-300);
    width: 1px;
    height: 5rem;
    top: -5rem;
    left: 50%;
}

.main-section {
    padding: var(--spacing-800) var(--spacing-400) var(--spacing-400);
}

.image-grid {
    display: grid;
    gap: var(--spacing-200);
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: var(--spacing-800) auto;
}

.user-image {
    border-radius: 0.5rem;
}

footer {
    background-image: url('../images/image-footer-mobile.jpg');
    background-size: cover;
    position: relative;
    margin-top: 5.25rem;
    color: var(--white);
    padding-bottom: var(--spacing-800);
}

.overlay {
    border-image: fill 1 linear-gradient(var(--cyan-overlay), var(--cyan-overlay));
}

.footer-content {
    display: grid;
    gap: var(--spacing-300);
    padding: 0 var(--spacing-400);
}

footer .section-number {
    top: -1.25rem;
    background-color: var(--white);
}

@media (min-width:576px){
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    section {
        padding: var(--spacing-800) 0 var(--spacing-800);
    }

    .main-section {
        padding: var(--spacing-800) 0 var(--spacing-800);
    }

    .hero-content {
        margin: var(--spacing-900) auto 0;
        max-width: 700px;
    }

   .footer-content, .main-content {
        margin: auto;
        max-width: 700px;
    }

    .image-grid {
        grid-template: 1fr / repeat(4, 1fr);
        gap: var(--spacing-300);
    }

    .subheading {
        font-size: 0.875rem;
    }

    footer {
        background-image: url('../images/image-footer-tablet.jpg');
    }

}

@media (min-width:1024px){
    .hero {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr) ;
        align-items: center;
    }
    .hero-sub-image {
        display: block;
    }

   .footer-content, .image-grid {
        max-width: 1120px;
    }

    .footer-content {
        grid-template: 1fr / repeat(3, 1fr);
        text-align: left;
        padding: var(--spacing-1400) 0;
    }

    footer .button-container {
        text-align: center;
    }

}